{% extends 'tracker/base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="alert alert-success mt-3">Your password has been updated.</div>
    <p class="text-muted">You are still signed in. If this wasn’t you, please <a href="{% url 'logout' %}">log out</a> from other devices and contact support.</p>
    <div class="d-flex gap-2">
      <a class="btn btn-primary" href="{% url 'dashboard' %}">Back to Dashboard</a>
      <a class="btn btn-outline-secondary" href="{% url 'password_change' %}">Change Again</a>
    </div>
  </div>
</div>
{% endblock %}
